#head {
  padding-left: 0px;
}

#single_show_map {
  width: 100%;
  height: 400px;
}


#host-name {
  font-size: 18px;
  margin-top: 0;
}

.spot_list {
  margin-left: 20px;
  margin-right: 20px;
}


#user-pic-home img {
  border-radius: 30px;
  height: 70px;
  width: 70px;
}

#user-info-rating {
    display: flex;
    justify-content: space-between;
}

#show_page_city_rating li {
  font-size: 18px;
  padding: 5px;
}
