// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// h1 {
//   text-align: center;
// }

body {
  font-family: 'Roboto Slab', serif;
  background-color: #FFFFFF;
  font-size: 20px;
  height: auto;
}

#price {
  font-weight: bold;
}
.index-image {
  height: auto;
  width: 100%;
  border-radius: 3px;
}

.spot-index-item p {
  font-size: 15px;
}

#head {
  display: flex;
}

h3 {
  text-align: left;
}

.spot_show {
  display: flex;
}

.spots_img {
  height: 300px;
  width: 400px;
  border: 1px solid black;
  border-radius: 3px;
}

.spots_img:hover {
    opacity:0.8;
    box-shadow: 2px 1px 3px rgba(249, 157, 157, 0.2);
    -webkit-animation: wiggle 0.1s ease-in-out 0.1s alternate 3;
}




#user-pic-home img {
  border-radius: 30px;
  height: 70px;
  width: 70px;
}





//
// img {
//   height: 30px;
//   width: 30px;
// }


div > p {
  text-align: center;
}

div > li {
  justify-content: space-around;
}

li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}

#bed {
  height: 17px;
  width: 17px;
  margin: 0px;
  padding: 0px;
  align-items: bottom;
  vertical-align: bottom;
}

// #showmore {
//   width: 20%;
//   margin:auto;
//   display: block;
//   cursor: pointer;
// }

#splash-inline div #map {
  height: 1000px;
  width: 500px;
  position: relative;
}

// #map {
//   height: 500px;
//   position: absolute;
//   overflow: hidden;
// }


.single_spot_show:first-child {
  width: 100%;
  height: 400px;
}

#splash-inline{
  display: flex;
  height: 100%;
  width: auto;
}

 // #splash-inline div{
 //  margin-right: 5px;
 //  width: 100%;
 //  height: auto;
// }

// #splash-inline {
//   width: 100%;
//   height: auto;
// }
//
// #splash-inline ul {
//   width: 50%;
// }
ul{
    padding: 0;
    list-style-type: none;
}
